<h2>Create Post</h2>

<form>

  <label>Title</label>
  <input ng-model="post.blogPost.title" type="text" class="form-control" placeholder="Title">

  <label>Write Your Post Here</label>
  <textarea ng-model="post.blogPost.content" class="form-control" name="blogText" rows="10" cols="50">Write your post here</textarea>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Category<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>Create a New Category</li>
      <li>Create a New Category</li>
      <li>cat1</li>
      <li>cat2</li>
      <li>cat3</li>
      <li>cat4</li>
    </ul>
  </div>
  <label>Create A New Category</label>
  <input ng-model="post.blogPost.newCategory" type="text" class="form-control" placeholder="New Category">
  <button class="btn btn-default" ng-click="post.newPost()">Publish Post</button>

</form>
