<h2>Create Post</h2>

<form>

  <label for="create-postTitle">Title</label>
  <input ng-model="post.blogPost.title" type="text" class="form-control" placeholder="Title">

  <label for="create-postText">Write Your Post Here!</label>
  <textarea ng-model="post.blogPost.postText" class="form-control" name="blogText" rows="10" cols="50">Write your post here</textarea>
  <div class="dropdown open">
    <!-- <button ng-model="post.blogPost.category" class="btn btn-primary dropdown-toggle" type="button">Category<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li ng-repeat=""></li>
    </ul> -->
  </div>
  <button class="btn btn-default" ng-click="post.newPost()">Publish Post</button>

</form>
