* {
    margin: 0;
    bottom: 0;
}

html, body{
  bottom: 0;
  height: 100%;
  margin: 0;
  background-color: #F7F5E7;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  }

.main-header {
  height: 260px;
  .banner-image{
    height: 75%;
    z-index: -1;
  }
  .nav-container{
    height: 20%;
  }
  .nav {
    background-color:#F5BE7D;
    height: 100%;
    padding: 5px;
  }
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    height: 100%;
    background-color: #F4A051;
    &:hover{
      background-color: #F7F5E7;
    }
  }
  .active{
    background-color: blue;
  }
  a {
    color:#B82B1F;
    text-decoration: none;
    font-size: 1.3em;
    background-color: transparent;
  }
}

.main-section{
  margin-left: 7%;
  margin-right: 30%;
  margin-bottom: 10%;
  @include defaultFont();
  h2{
    font-size: 2.5em;
    font-weight: bolder;
  }
  ul{
    list-style: none;
  }
}

.panel .push{
  height: 50px;
}

footer{
  background-color: #F5BE7D;
}

.sidebar{
  position: relative;
  bottom: 0;
  background-color: #F5BE7D;
  float: right;
  width: 17%;
  min-width: 175px;
  margin: 25px;
  right: 0;
  .list-group {
    height: 100%;
    background-color: #F84E32;
    margin: 0;
  }
  .list-group-item {
    background-color: #F84E32;
    a {
      color: black;
    }
  }
}
