* {
    margin: 0;
    bottom: 0;
}

html, body{
  bottom: 0;
  height: 100%;
  margin: 0;
  background-color: #F7F5E7;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  }

.main-header {
  height: 260px;
  .banner-image{
    height: 75%;
    z-index: -1;
  }
  .nav-container{
    height: 20%;
  }
  .nav {
    background-color:#F5BE7D;
    height: 100%;
    padding: 5px;
  }
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    height: 100%;
    background-color: #F4A051;
    &:hover{
      background-color: #F7F5E7;
    }
  }
  a {
    color:#B82B1F;
    text-decoration: none;
    font-size: 1.3em;
    background-color: transparent;
  }
  // TODO: I would like to make the active tab have the 'active' class but I'm not sure how.
  // .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  //   border: none;
  //   cursor: default;
  //   border-bottom-color: transparent;
  //   font-style: italic;
  //   background-color: #F7F5E7;
  // }
  .active > a{
    background-color: #F7F5E7;
  }
}

.main-section{
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 0;
}

.panel .push{
  height: 50px;
}

// .panel{
//   border: none;
//     position: absolute;
//     width: 100%;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     .panel-footer{
//       border: none;
//       background-color: #F5BE7D;
//       font-size: 1.1em;
//       text-align: center;
//       color: #000000;
//     }
// }
.footer-container {
  background-color: #F5BE7D;
}

.sidebar{
  position: relative;
  bottom: 0;
  background-color: #F5BE7D;
  float: right;
  width: 17%;
  margin: 25px;
  right: 0;
  .list-group {
    height: 100%;
    background-color: #F84E32;
    margin: 0;
  }
  .list-group-item {
    background-color: #F84E32;
    a {
      color: black;
    }
  }
}
