* {
    margin: 0;
    bottom: 0;
}

html, body{
  bottom: 0;
  height: 100%;
  margin: 0;
  background-color: $layer0Color;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  }

.main-header {
  margin-bottom: -15px;
  height: 260px;
  .banner-image{
    height: 75%;
    z-index: -1;
  }
  .nav-container{
    height: 20%;
    background-color: $layer1Color;
  }
  .nav {
    background-color:$layer1Color;
    height: 100%;
    padding: 5px;
  }
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    height: 100%;
    background-color: $layer2Color;
    &:hover{
      background-color: $layer0Color;
    }
  }
  .active{
    background-color: $layer0Color;
  }
  a {
    color:$layer4Color;
    text-decoration: none;
    font-size: 1.3em;
    background-color: transparent;
  }
}

.main-section{
  margin-left: 0%;
  margin-right: 25%;
  margin-bottom: 0%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 54px;
  font-family: 'Roboto Slab', serif;
  background-color: #F7F5E8;
  height: 100%;
  h2{
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 1.5em;
    font-weight: bolder;
  }
  ul{
    list-style: none;
    padding-left: 0;
    .post-title{
      font-size: 2.5em;
      margin: 5px;
    }
    .post-attributes{
      display: table;
      margin-top: 6px;
    }
    .by-line{
      float: left;
      font-size: 0.75em;
      margin-left: 20px;
      margin-bottom: 0;
      position: relative;
      bottom: -7px;
    }
    .author-name{
      float: left;
      margin-left: 10px;
      margin-bottom: 0;
      font-size: 1.25em;
      position: relative;
      bottom: 0px;
    }
    .category-label{
      float: left;
      font-size: 0.75em;
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 0;
      position: relative;
      bottom: -7px;
    }
    .post-category{
      float: left;
      font-size: 1.5em;
      margin: 1px;
      margin-bottom: 0;
      position: relative;
      bottom: 0px;
    }
    .publish-date{
      font-size: 0.8em;
      margin-top: 5px;
      margin-left: 20px;
    }
    li{
      background-color: $layer1Color;
      @include boxBorder();
      @include boxShadow();
      margin: 8px;
      padding: 15px;
    }
    .article-summary{
      font-size: 1.5em;
      margin-left: 25px;
    }
  }
  .about-text{
    font-size: 1.3em;
    background-color: $layer1Color;
    @include boxBorder();
    @include boxShadow();
    margin: 8px;
    padding: 15px;
  }
  .allposts{
    .allposts-post{
      padding-bottom: 5px;
      padding-top: 7px;
    }
    .allposts-post-title{
      font-size: 1.75em;
      float: left;
    }
    .allposts-by-line{
      float: left;
      position: relative;
      top: 12px;
      margin-left: 16px;    }
    .allposts-author-name{
      position: relative;
      top: 9px;
      margin-left: 6px;
      font-size: 1.2em;
    }
    .allposts-publish-date{
      margin-top: 12px;
      position: relative;
      left: 11px;
      font-size: 0.9em;    }
  }
  .create-post{
    background-color: $layer1Color;
    margin: 8px;
    padding: 15px;
    @include boxShadow();
    border: 1px solid $layer4Color;
    .create-post-title{
      margin-bottom: 30px;
      margin-top: 5px;
    }
    .create-post-body{
      margin-bottom: 10px;
    }
    .create-post-category{
      margin-bottom: 10px;
    }
    .create-post-submit{
      position: relative;
      left: 78%;
      bottom: -5px;
      width: 20%;
      min-width: 100px;
    }
  }
  .login-page{
    background-color: $layer1Color;
    @include boxBorder();
    @include boxShadow();
    padding: 15px;
    padding-bottom: 0px;
    width: 50%;
    margin: auto;
    .login-page-email{
      float: left;
    }
    .login-page-password{
      float: left;
    }
    label{
      font-size: 1.15em;
      margin-left: 20px;
      margin-right: 4px;
    }
    .email{
      margin-left: 49px;
    }
    .password{
      margin-left: 20px;
    }
    button{
      margin-left: 40px;
      margin-top: 10px;
    }
    .login-page-new-account{
      font-size: 0.8em;
      margin-top: 20px;
      margin-left: 10px;
    }
  }
  .ask-delete{
    position: absolute;
    top: 100px;
    left: 30%;
    width: 400px;
    height: 250px;
    background-color: $layer2Color;
    color: $layer4Color;
    text-align: center;
    border: 3px solid $layer4Color;
    @include boxShadow();
    font-size: 2em;
    padding-top: 45px;
    button{
      background-color: $layer1Color;
    }
  }
}

.footer{
  background-color: $layer1Color;
  position: relative;

  clear: both;
  p{
    position: absolute;
    bottom: -45px;
    right: 15px;
    @include defaultFont();
    font-size: 1.2em;
  }
}

.content{
  position: relative;
  height: 100%;
  background-color: $layer1Color;
}

.sidebar{
  position: absolute;
  height: 100%;
  bottom: 0;
  background-color: #F5BE7D;
  float: right;
  width: 25%;
  min-width: 175px;
  margin: 0px;
  right: 0;
  .list-group {
    text-align: center;
    margin: 0;
  }
  .list-group-item {
    text-align: center;
    background-color: $layer1Color;
    text-align: right;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    a {
      font-size: 1.2em;
      color: $layer4Color;
      &:hover{
        background-color: $layer3Color;
      }
    }
    &:hover{
      background-color: $layer2Color;
    }
    button{
      width: 100%;
      background-color: $layer2Color;
      font-size: 1.5em;
      color: $layer5Color;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid $layer4Color;
      &:hover{
        background-color: $layer3Color;
        color: $layer0Color;
      }
    }
  }

  .listButton{
    background-color: $layer1Color;
    &:hover{
      background-color: $layer1Color;
      color: $layer0Color;
    }
  }

  .category-label{
    background-color: $layer2Color;
    text-align: left;
    font-size: 1.25em;
    padding-bottom: 3px;
    padding-top: 3px;
    border-top: 1px solid $layer4Color;
    border-bottom: 1px solid $layer4Color;
    margin-bottom: 1px;
  }
  .listStyle {
    font-family: 'Roboto Slab', serif;
  }
  .righties {
    background-color: red;
  }
}

a {
  color: #B03020;
}

a:hover {
  color: #E94A27;
}

.btn {
  background-color: $layer2Color;
  font-size: 1.5em;
  color: $layer5Color;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid $layer4Color;
}

.btn:hover {
  background-color: $layer3Color;
}

.btn:active {
  background-color: $layer4Color;
}

.delete-post-button {
  float: right;
  background-color: $layer2Color;
}

.create-author-form {
  margin-bottom: 20px;
}
