@import "normalize";
* {
    margin: 0;
    bottom: 0;
}

html, body{
  bottom: 0;
  height: 100%;
  margin: 0;
}

.main-header {
  .banner-image{
    background-image: url(/client/images/RUb6rkl.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 230px;
    z-index: -1;
  }
  #banner {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 230px;
    z-index: -1;
    background-size: cover;
  }
  .nav {
    background-color:#F7F5E7;
    border: none;
  }
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  a {
      color:#F0532B;
    text-decoration: none;
    font-size: 1.3em;
  }
  a {
    background-color: transparent;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    cursor: default;
    border-bottom-color: transparent;
    font-style: italic;
    background-color: #F7F5E7;
  }
}
.main-section{
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 0;
}
.panel{
  border: none;
    // position: fixed;
    bottom: 0;
    width: 100%;
    .panel-footer{
      border: none;
      background-color: #F7F5E7;
      font-size: 1.1em;
      text-align: center;
      color: #000000;
    }
// .panel-footer{
//   background-color: red;
//   font-size: 1em;
//   text-align: center;
//   bottom: 0;
//   color: #000000;
// }
}
// TODO: I don't know how to get this thing to stretch the full height of the
// page. Help!
.sidebar{
  position: relative;
  bottom: 0;
  background-color: #F7F5E7;
  float: right;
  width: 17%;
  margin: 25px;
  right: 0;
  .list-group {
    height: 100%;
    background-color: #F0532B;
    margin: 0;
  }
  .list-group-item {
    background-color: #F0532B;
    a {
      color: black;
    }
  }
}

//THIS IS FOR THE LOGIN
  .password {
    margin-left: 10px;
  }
  .email {
    margin-left: 39px;
  }