<!DOCTYPE html>
<html lang='en' ng-app="blog">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href='css/main.css'>
  <title>Popular Science Blog</title>
</head>
<body>
  <main class="wrapper">

    <header class="main-header">
      <img class="banner-image" src="/images/RUb6rkl.png" alt="banner image"/>
      <nav  class="nav-container">
        <ul ng-controller="LoginController as lc" class="nav nav-tabs">
          <li class="active"><a ui-sref='home'>Home</a></li>
          <li><a ui-sref='about'>About</a></li>
          <li><a ui-sref='allPosts'>All Posts</a></li>
          <li ng-show="lc.isLoggedIn()"><a ui-sref='post'>Post</a></li>
          <li ng-hide="lc.isLoggedIn()"><a ui-sref='login'>Login</a></li>
          <li ng-show="lc.isLoggedIn()"><a ui-sref='home' ng-click="lc.logout()">Logout</a></li>
        </ul>
      </nav>
    </header>

      <div class="sidebar" ng-controller="SidebarController as sidebar">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="category in sidebar.categories">
            <a ui-sref="categoryStories({ name: category.name })">
              {{category.name}}
            </a>
          </li>
          <li class="list-group-item"><button ui-sref="allPosts">All Stories</button></li>
        </ul>
      </div>

      <section ui-view class="main-section"></section>

      <div class="push"></div>
  </main>

  <footer class="panel panel-default">
    <!-- <div class="panel-body"></div> -->
    <div class="panel-footer">&copy 2016 Jordan Kasper</div>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js'></script>
  <script src='https://angular-ui.github.io/ui-router/release/angular-ui-router.js'></script>
  <script src='js/blog.js'></script>


</body>
</html>
