<h2>Create Post</h2>

<form>

  <label for="create-postTitle">Title</label>
  <input type="text" class="form-control" placeholder="Title">

  <label for="create-postText">Write Your Ppost Here!</label>
  <textarea class="form-control" name="blogText" rows="10" cols="50">Write your post here</textarea>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button">Category<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li ng-repeat=""></li>
    </ul>
  </div>
  <button class="btn btn-default" ng-click="">Publish Post</button>

</form>
