<h2>All Posts</h2>
<ul class="allposts">
  <li class="allposts-post"ng-repeat="post in allPosts.postList">
    <a class="allposts-post-title" ui-sref='viewPost({ id: post.id })'>{{post.title}}</a>
    <p class="allposts-by-line">By:</p>
    <a class="allposts-author-name" ui-sref='author({ id: post.author.id })'>{{post.author.name}}</a>
    <p class="allposts-publish-date">{{post.date | date:'MMM d, y @ h:mm a'}}</p>
  </li>

  <button ng-click="allPosts.previousPage()"  ng-show="allPosts.page > 1" name="previousPage">Previous Page</button>
  <button ng-click="allPosts.nextPage()" ng-hide="allPosts.postList.length < 10" name="nextPage">Next Page</button>
</ul>
